body{
  font-family: Arial, sans-serif;
    background:#f4f6f8;
  margin:0;
}

header{
  background:#003366;
  color:white;
  padding:20px;
  text-align:center;
}

nav{
  background:#ddd;
  padding:10px;
  text-align:center;
}

nav a{
  margin:0 15px;
  text-decoration:none;
  color:#003366;
  font-weight:bold;
}

main{
  padding:30px;
}

.card{
  background:white;
  padding:20px;
  margin-bottom:20px;
  border-radius:5px;
}

footer{
  text-align:center;
  padding:15px;
  background:#eee;
}
